.body[b-6lznn9ol9j]{
    padding: 10px;
}

.grid-container[b-6lznn9ol9j] {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
    grid-template-rows: 470px 470px 470px;
    padding: 5px;
    justify-content: center
}

.card[b-6lznn9ol9j] {
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #7a5ca0;
    background-clip: border-box;
    border: 1px;
    width: 600px;
    height: 480px;
    column-gap: 770px;
}

.card-img[b-6lznn9ol9j] {

}

.card-body[b-6lznn9ol9j] {
    height: 25px;
    width: 351px;
    font-family: Candara;
    background-color: #7a5ca0;
}
